.story button{
    
    width: 102px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    border: none;
    font-size: 16px;
    display: flex;
    text-align: center;
text-decoration: none;
background-color: #EDEBF7;
    color: #3C2769;
    padding: 15px;
      
     margin: 10px;
     margin-top: 20px;
    
}

 p{
   margin-left: 300px;
    width: 700px;
    
}

.our-story button{
border-radius: 64px;
width: 155px;
height: 40px;
font-size: 18px;
display: flex;
text-align: center;
align-items: center;
text-decoration: none;
background-color: transparent;
color: #3C2769;
padding: 15px;
border-width: 1px;
margin-top: 80px;
  
 padding-left: 33px;
 padding-top: 17px;
}

.our-story .ourstory {
   
    border: none;
    gap: 5px;
   display: flex;
   align-items: center;

}

.best-sellers button{
    width: 132px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    border: none;
    font-size: 16px;
    display: flex;
    text-align: center;
text-decoration: none;
background-color: #EDEBF7;
    color: #3C2769;
    padding: 15px;
      
     margin: 10px;
     margin-top: 140px;
   
}

.trusted-products h1{
width: 7yyy;
}





/* mobile*/
@media  (max-width: 320px) {
    .container {
      padding: 2rem;
    }
  
    .story button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .story h1 {
      font-size: 24px;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .story p {
      font-size: 7px;
    }
  
    .our-story button,
    .ourstory button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .best-sellers button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .trusted-products h4 {
      font-size: 16px;
      margin-top: 2rem;
    }
  }
  